# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables and secrets
.env
.env.*

# Local documentation or notes
local-readme

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Log files
*.log

# Python packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm settings
.idea/

# Coverage reports
htmlcov/
.coverage